# Virtual environment and environment files
venv/
.env
.env/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Log files
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Chroma vector store directory
ctse_db/
