# Ignore the virtual environment folder
venv/
.env/

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS-specific files
.DS_Store

# Ignore Windows-specific files
Thumbs.db

# VSCode settings
.vscode/

# Ignore log files
*.log

# Ignore build artifacts
build/
dist/
*.egg-info/
